<%- include('header') %>

<h1>多角数計算機</h1>
    <p>
      多角数の計算ができます。プログラムを見る場合は、<a
        href="https://scratch.mit.edu/projects/724896033/editor/"
        >ここ</a
      >をクリックすると見ることができます。(外部サイトへ行きます)
    </p>
    <h2>使用方法</h2>
    <p>
      緑の旗をタップまたはクリックすると、プログラムを開始できます。最初に、初期値として、nとｘの値を指定します。この時、ｘとは、何角数を求めたいかです(もし三角数を求めたい場合は3になります)、ｎとは、何番目を求めたいか(もし３番目を求めたい場合は３になります)。
    </p>
    <iframe
      src="https://scratch.mit.edu/projects/724896033/embed"
      allowtransparency="true"
      width="485"
      height="402"
      frameborder="0"
      scrolling="no"
      allowfullscreen
    ></iframe>

<%- include('footer') %> 